<!-- <div class="container">
 

  <div class="row">

    <div class="col-md-2">
    </div>

    <div class="col-md-8">
      <div class="help-wanted">
        <h2>Welcome to the coolest burrito stand in the land!</h2>
        <h3>You're in luck because we are currently looking for extra help.
          If you'd like to join the team, fill out the form below.</h3>
      </div>
    </div>
      
    <div class="col-md-2">
    </div>

  </div>


    
    <div class="row">

      <div class="col-md-2">
      </div>

      <div class="col-md-8"
        <%= simple_form_for @user, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :phone, :required => true %>
        <div class="form-actions">
          <%= f.button :submit, 'Send', :class=> "btn btn-primary" %>
        </div>
        <% end %>
      </div>
  
      <div class="col-md-2">
      </div>



    </div>

          

</div>




</div> -->